# ============================================
# .NET Core / ASP.NET Core Web API
# ============================================

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
artifacts/

# Publish output
publish/

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

# Logs
*.log
logs/

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml



